<h1>Sales Last 15 Months</h1>
<table>
  <thead>
    <tr>
      <th> Date Sold</th>
      <th> Sale Amount</th>
      <th> Units Sold </th>
      <th> Rate of Invoice </th>
      <th> Unit Price </th>
    </tr>
  </thead>
  <tbody>
    <% @sales_last_15_months.each do |sale| %>
      <tr>
      <td><%= sale.date_sold %> </td>
      <td><%= sale.sale_amount %></td>
      <td><%= sale.units_sold %></td>
      <td><%= sale.rate_of_invoice %></td>
      <td><%= (sale.sale_amount/sale.units_sold).round(2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>